<h3>The Coop</h3>
<div class="row">
    {{#each stories}}
        <div class="col s12 m12">
            <div class="card">
                <div class="card-image">
                    {{{editIcon user ../user _id}}}
                </div>
                <div class="card-content left-align">
                    <h5>{{title}}</h5>
                    <p>{{stripTags (truncate body 400)}}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" alt="">
                        <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="/stories/{{_id}}" class="btn grey">Read More</a>
                </div>
            </div>
        </div>
    {{else}}
        <p>No pigeon posts for today...</p>
    {{/each}}
</div>